<html>
<head>
  <title>Friends</title>
</head>
<body>


<h1>Edit Page</h1>
{% for friends in all_friends: %}
  <form action="/friends/{{ friends['id'] }}" method="POST">

     <p>ID: {{ friends['id'] }}</p><input type="hidden" value="{{ friends['id'] }}" id="{{ friends['id'] }}">

     <p>First Name: {{ friends['first_name'] }}</p><label for="first_name">New First Name:<input type="text" name="first_name" id="first_name"></label>

     <p>Last Name: {{ friends['last_name'] }}</p><label for="last_name">New Last Name:<input type="text" name="last_name" id="last_name"></label>
     
     <p>Email: {{ friends['email'] }}</p><label for="email">New Email:<input type="text" name="email" id="email"></label>

     <input type="submit" value="Update">
  {% endfor %}
   </form>
   <hr>

</body>
</html>